<a href="https://colab.research.google.com/github/FredMunene/Data-Analysis-With-Python/blob/main/HelloWorld.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello, DPhi! Today I executed my very first Python program. Thanks!")

Hello, DPhi! Today I executed my very first Python program. Thanks!

In [ ]:
a = "hello wprld"
print (len(a))

11

In [ ]:
list = [1, "baby", 3.24]
list.append("baby")
list.count("baby")
list.sort()

In [ ]:
tuple = (1,2,3,4)

# Loops

In [ ]:
a = ("a","b","c")

In [ ]:
for elements in a:
  print (elements)

In [ ]:
range (1,5)

c = list(range(1,5))

for i in range(1,5):
  print(i)

Using While loop to print first ten natural numbers.

In [ ]:
t = []
x = 0
while len(t) < 10:
  x += 1
  t.append(x)
print(t)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Iterate over list and print the elements

In [ ]:
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
for i in list1:
  print(i, end =" ")

12 15 32 42 55 75 122 132 150 180 200

Accept a number n from the user and print its multiplication table

In [ ]:
n = int(input("Enter a number to get its multiplication table"))
multiples_n = []
for i in range (100):
  m = i*n
  multiples_n.append(m)
print(multiples_n)

Enter a number to get its multiplication table6
[0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96, 102, 108, 114, 120, 126, 132, 138, 144, 150, 156, 162, 168, 174, 180, 186, 192, 198, 204, 210, 216, 222, 228, 234, 240, 246, 252, 258, 264, 270, 276, 282, 288, 294, 300, 306, 312, 318, 324, 330, 336, 342, 348, 354, 360, 366, 372, 378, 384, 390, 396, 402, 408, 414, 420, 426, 432, 438, 444, 450, 456, 462, 468, 474, 480, 486, 492, 498, 504, 510, 516, 522, 528, 534, 540, 546, 552, 558, 564, 570, 576, 582, 588, 594]

Use the enumerate function to print the elements of this list along with the indices:
grocery = ['bread', 'milk', 'butter']

Enumarate function iterates over elements of a list and associates an index with them.

In [ ]:
grocery = ['bread', 'milk', 'butter']
for index, snack in enumerate(grocery):
  print("index " + str(index)+ ":" + str(snack))

index 0:bread
index 1:milk
index 2:butter

In [ ]:
grocery = ['bread', 'milk', 'butter']
i=0
while i < len(grocery):
  print ("index " + str(i)+" : "+ grocery[i] )
  i+=1

#print(grocery[0])

index 0 : bread
index 1 : milk
index 2 : butter

Take a number n from the user and find the sum of all numbers between 1 to n

In [ ]:
n = int(input("Enter a number to get its multiplication table"))