<a href="https://colab.research.google.com/github/FredMunene/Data-Analysis-With-Python/blob/main/Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello, DPhi! Today I executed my very first Python program. Thanks!")

Hello, DPhi! Today I executed my very first Python program. Thanks!

In [ ]:
a = "hello wprld"
print (len(a))

11

In [ ]:
list = [1, "baby", 3.24]
list.append("baby")
list.count("baby")
list.sort()

In [ ]:
tuple = (1,2,3,4)

# Loops

In [ ]:
a = ("a","b","c")

The syntax of a for loop consists of **assigning a temporary value to a variable on each successive iteration.**

In [ ]:
for elements in a:
  print (elements)

In [ ]:
range (1,5)

c = list(range(1,5))

for i in range(1,5):
  print(i)

Using While loop to print first ten natural numbers.

In [ ]:
t = []
x = 0
while len(t) < 10:
  x += 1
  t.append(x)
print(t)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Iterate over list and print the elements

In [ ]:
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
for i in list1:
  print(i, end =" ")

12 15 32 42 55 75 122 132 150 180 200

Accept a number n from the user and print its multiplication table

In [ ]:
n = int(input("Enter a number to get its multiplication table"))
multiples_n = []
for i in range (100):
  m = i*n
  multiples_n.append(m)
print(multiples_n)

Enter a number to get its multiplication table6
[0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96, 102, 108, 114, 120, 126, 132, 138, 144, 150, 156, 162, 168, 174, 180, 186, 192, 198, 204, 210, 216, 222, 228, 234, 240, 246, 252, 258, 264, 270, 276, 282, 288, 294, 300, 306, 312, 318, 324, 330, 336, 342, 348, 354, 360, 366, 372, 378, 384, 390, 396, 402, 408, 414, 420, 426, 432, 438, 444, 450, 456, 462, 468, 474, 480, 486, 492, 498, 504, 510, 516, 522, 528, 534, 540, 546, 552, 558, 564, 570, 576, 582, 588, 594]

Break,

In [ ]:
numbers = [0, 254, 2, -1, 3]

for num in numbers:
  if (num < 0):
    print("Negative number detected!")
    break
  print(num)

0
254
2
-1
3

Use the ***enumerate function*** to print the elements of this list along with the indices:
grocery = ['bread', 'milk', 'butter']

Enumarate function iterates over elements of a list and associates an index with them.

In [ ]:
grocery = ['bread', 'milk', 'butter']
for index, snack in enumerate(grocery):
  print("index " + str(index)+ ":" + str(snack))

index 0:bread
index 1:milk
index 2:butter

In [ ]:
grocery = ['bread', 'milk', 'butter']
i=0
while i < len(grocery):
  print ("index " + str(i)+" : "+ grocery[i] )
  i+=1

#print(grocery[0])

index 0 : bread
index 1 : milk
index 2 : butter

Take a number n from the user and find the sum of all numbers between 1 to n

In [ ]:
n = int(input("Enter a number to get its multiplication table"))

**Python List Comprehension**;
Outputs a list always.
List comprehension for the squares of all even numbers between 0 and 9

In [ ]:
result = [x**2 for x in range(10) if x % 2 == 0]
print(result)

[0, 4, 16, 36, 64]

**TASK 5**: Print the letters of the string "Python" in the same line:
Using a simple for loop
Using the range function

In [1]:
word = "Python"
for i in word:
  print(i, end =" ")

P y t h o n

**TASK 7:**Create a sequence of numbers from 3 to 5, and print each item in the sequence.

In [2]:
for i in range(3,5):
  print(i)

3
4

**TASK 6:**Create a sequence of numbers from 3 to 19, but increment by 2 instead of 1.

In [ ]:
for i in range(2,19,2):
  print(i)

IF-ELSE

In [4]:
if -2:
  print("Hello World")

Hello World

If-elif-else

Dictionary

In [5]:
my_dict = { 1:"Blue", 2: "Yellow"}

looping over dictionaryusing a method, .items()

In [7]:
for key, value in my_dict.items() :
  print(str(key) + " --" + value)

1 --Blue
2 --Yellow

Task 1: Take values of length and breadth of a rectangle from the user and check if it is a square.

In [40]:
length = int(input("Enter the length your rectangle "))
breadth = int(input("Enter the breadth your rectangle "))

if length == breadth:
  print ("Your rectangle of length " + str(length) +" and breath " + str(breadth) + " is a square.")
else:
  print("Your rectangle of length 1" + str(length) +" and breath " + str(breadth) + " is a true rectangle.")

Enter the length your rectangle 3
Enter the breadth your rectangle 6
Your rectangle of length 13 and breath 6 is a true rectangle.

Task 2: Take two int values from the user and print the greatest among them.

In [35]:
n1 = int(input("Enter your first number "))
n2 = int(input("Enter your second number "))

if n2 > n1 :
  print (str(n2) + " is greater than " + str(n1))
else:
  print (str(n1) + " is greater than " + str(n2))

Enter your first number 3
Enter your second number 4
4 is greater than 3

Task 3:Write a program to read a candidate's age and determine whether they are eligible to cast their vote.

In [33]:
age = int(input("what's your age? "))

if age > 18:
  print(" You can vote")
else:
    print("You have to be over 18 yrs to vote")

what's your age? 15
You have to be over 18 yrs to vote

Task 4: Write a Python program to add a key to a dictionary.
Sample Dictionary : {0: 10, 1: 20}
Expected Result : {0: 10, 1: 20, 2: 30}

In [26]:
Sample_Dict = { 0:10,1:20}
Sample_Dict[2]: 30
Sample_Dict.update({3:40})
Sample_Dict2 = {4:50}
Sample_Dict.update(Sample_Dict2)
print(Sample_Dict)

{0: 10, 1: 20, 3: 40, 4: 50}

Task 5: Below are two lists; convert them into a dictionary. keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
Expected output:
{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [16]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30] 
print(dict(zip(keys,values)))

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [20]:
print({key: value for key, value in zip(keys,values)})

#dictionary = {key: value for key, value in zip(keys, values)}

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

Task 6: Access the value of key 'history

In [13]:
sampleDict = {
"class":{
"student":{
"name":"Mike",
"marks":{
"physics":70,
"history":80
}
}
}
}
print (sampleDict.get("class",{}).get("student",{}).get("marks",{}).get("history"))

80

Task 7: Try to do the following:
Add a key to inventory called 'pocket'.
Set the value of 'pocket' to be a list consisting of the strings' seashell', 'strange berry', and 'lint'.
.sort()the items in the list stored under the 'backpack' key.
Then .remove('dagger') from the list of items stored under the 'backpack' key.
Add 50 to the number stored under the 'gold' key.

In [ ]:
inventory = {
'gold' : 500,
'pouch' : ['flint', 'twine', 'gemstone'],
'backpack' : ['xylophone','dagger', 'bedroll','bread loaf']
}